/*
Vars
*/

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: black;
    font-weight: 400;
    font-style: normal;
}

header {
    position: relative;
    display: block;
    width: 100%;
    background: black;
    color: white;
    height: 90px;
    justify-content: flex-end;
}

header .logo {
    position: absolute;
    top: 50%; left: 15px;
    justify-content: flex-end;
}

nav {
    position: absolute;
    top: 50%; left: 15px;
    justify-content: right;
}